- Effect: Allow
  Action:
    - glue:StartCrawler
    - glue:GetCrawler
  Resource: 
    - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:crawler/${self:custom.stageVars.crawlerName}"
- Effect: Allow
  Action:
    - athena:StartQueryExecution
    - athena:GetQueryExecution
    - athena:GetQueryResults
  Resource: "*"
- Effect: Allow
  Action:
    - s3:GetBucketLocation
    - s3:GetObject
    - s3:ListBucket
    - s3:PutObject
  Resource:
    - !GetAtt AthenaResultsBucket.Arn
    - !Sub "${AthenaResultsBucket.Arn}/*"
